@import "./blocks/nav.css";
@import "./blocks/page.css";
@import "./blocks/header.css";
@import "./blocks/slideshow.css";
@import "./blocks/burger.css";
@import "/blocks/form.css";

.pricing__section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pricing__background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pricing__home-content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #fff;
}

.pricing__home-span {
  color: #9df9ef;
  font-weight: 500;
  font-size: 2rem;
}

.pricing__home-name {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #edf756;
  margin: 20px 0px 10px 0px;
}

.pricing__home-title {
  font-size: 4rem;
  width: 100%;
  color: #9df9ef;
  display: flex;
  justify-content: center;
}

.pricing__home-description {
  color: #edf756;
  font-size: 1.8rem;
}

.pricing__homelist-img {
  width: 35px;
  height: auto;
}

.pricing__home-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.pricing__homelist-item-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.pricing__homelist-item {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
