.burger {
  display: none;
  padding: 0;
}

.nav__controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 425px) {
  .burger {
    position: relative;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 3;
    margin: 0px 30px 0px 0px;
  }

  .burger__line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .burger.burger__isactive .burger__line-top {
    transform: rotate(45deg);
    position: absolute;
    bottom: 50%;
  }

  .burger.burger__isactive .burger__line-middle {
    opacity: 0;
    position: absolute;
    bottom: 50%;
    transition: none;
  }

  .burger.burger__isactive .burger__line-bottom {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 50%;
  }
}

/* we need to animate the burger lines to transition and transfrom into an "X" */
