.burger {
  display: none;
  padding: 0;
}

@media screen and (max-width: 560px) {
  .burger {
    position: relative;
    width: 40px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0px 35px 0px 0px;
  }

  .burger__line {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
  }

  .burger.burger__isactive .burger__line-top {
    transform: rotate(45deg);
    position: absolute;
    bottom: 50%;
  }

  .burger.burger__isactive .burger__line-middle {
    opacity: 0;
    position: absolute;
    bottom: 50%;
  }

  .burger.burger__isactive .burger__line-bottom {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 50%;
  }
}

/* we need to animate the burger lines to transition and transfrom into an "X" */
