.navbar {
  width: 100%;
  background: #4300ff;
  display: flex;
}

.logo-img {
  width: 110px;
  height: auto;
  background: transparent;
  padding: 10px 30px;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  text-decoration: none;
  width: 100%;
  justify-content: end;
  align-items: center;
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  padding: 0px 100px 0px 0px;
}

.nav-item {
}

.nav-link {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  background-image: linear-gradient(to right, white, white 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-link:before {
  content: "";
  background: #ff1616;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  background-position: 0;
}

.nav-link:hover::before {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    flex-direction: column;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-item {
    font-size: 2rem;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: #ccc;
  }

  .logo-img {
    width: 80px;
  }
}
