/* this fills the header with the background image slideshow */

.slideshow {
  width: 100%;
  height: 100vh; /* Full screen height */
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 110%; /* Zoomed out slightly */
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
  z-index: 1;
}

/* Position overrides */
.slide[data-position="center"] {
  object-position: center center;
}

.slide[data-position="bottom"] {
  object-position: center bottom;
}

/* If you want different positioning per screen size, you can use media queries like */

@media (max-width: 768px) {
  .slide[data-position="top"] {
    object-position: center 10%;
  }
}

/* you can use .logo for flexbility (e.g. layout $ spacing) */
